.sml-index-nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #fff;
    -ms-flex-align: center;
}

.sml-head {
    position: relative;
    overflow: hidden;
    padding: 100px 0 250px;
    background: linear-gradient(45deg,#e1e7f7,#fcfcfe);
   
}

.Section--for-work {
    position: relative;
    overflow: hidden;
    padding: 100px 0 250px;
    background: linear-gradient(45deg,#e1e7f7,#fcfcfe);
}

.u-textCenter {
    text-align: center!important;
}

.Button {
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 0 32px;
    height: 48px;
    border: 0;
    border-radius: 3px;
    background: #ececec;
    color: #333;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
    font: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    cursor: pointer;
    transition: all .25s cubic-bezier(.645,.045,.355,1);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.Button--primary {
    background: #0069ff;
    color: #fff;
}
.Button--space {
    max-width: 100%;
    width: 260px;
}

.Section {
    padding: 96px 0;
}

.u-mb--large {
    margin-bottom: 32px!important;
}

.u-textLarge {
    font-size: 20px!important;
}

h1, h2 {
    font-weight: 400;
    line-height: 1.25;
}

.Page-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #fff;
    -ms-flex-align: center;
}

.Section {
    padding: 96px 0;
}

.nav-pad{
    padding-right: 100px !important;
}

.card-pad{
    padding: 80px !important;
    
}

.pad-top{
    padding-top: 80px !important;
}

.padnav-top{
    padding-top: 20px !important;
}

.padnav-rl{
    padding-right: 10px !important;
    padding-left: 10px !important;
}


.white{
    background-color: white;
    -webkit-box-shadow: 2px 9px 86px 34px rgba(0,0,0,0.11);
    -moz-box-shadow: 2px 9px 86px 34px rgba(0,0,0,0.11);
    box-shadow: 2px 9px 86px 34px rgba(0,0,0,0.11);
    border-radius: 10px;
  }

  .navcolor{
    background-color: white !important;
  }
  
  